html {
    font-family: "Trebuchet MS";
}

body {
    background-color: #f8f8ff;
}

a {
    color: darkcyan;
}

.containerCenter{
    max-width:620px;
    margin:auto;
}

.containerCenter h1{
    text-align: center;
}