html {
    font-family: "Trebuchet MS";
}

body {
    background-color: #f8f8ff;
}

a {
    color: darkcyan;
}

#container {
    display: flex;
}

#container div {
    margin: 5px;
}

#combatantList {
    max-width: 60%;
}

/* Form stuff */
#addNew div{
    display: table-row;
}

#addNew label{
    display: table-cell;
    padding: 3px 15px 3px 0px;
}
/**/

/*Table stuff*/
#combatTracker th {
    text-decoration: underline;
}

.healthTable {
    margin: 0 5px;
    max-width: 80%;
}

#combatTracker {
    width: 90%;
    table-layout: fixed;
}

#combatants td:first-child,
th:first-child {
    width: 50%;
}

#combatants td {
    white-space: nowrap;
    overflow: auto;
    border-bottom: #d3d3d3 1px solid;
}

.currentTurn {
    font-weight: bold;
}

.currentTurn:before {
    content: "►";
}
/**/

/*Dark mode*/
.dark {
    color: #d3d3d3;
    background-color: #343434;
}

.dark a {
    color: lightblue;
}

.dark #combatants td{
    border-bottom: #454545 1px solid;
}
/**/

@media only screen and (max-width: 900px) {
    #container {
        display: block;
    }

    #container div {
        width: 100%;
    }

    #combatantList {
        max-width: 100%;
    }
}